<launch>
	<arg name="gateway_address"/>
	<arg name="security_code" default=""/>
	<arg name="psk_config_file" default="$(find tradfri_ros)/config/tradfri_psk.conf"/>
	<arg name="device_map_file" default="$(find tradfri_ros)/config/device_map.yaml"/>
	<arg name="transition_time" default="0.2"/>

	<node name="tradfri_node" type="tradfri_async_node.py" pkg="tradfri_ros" clear_params="true" output="screen" required="true">
		<param name="gateway_address" value="$(arg gateway_address)"/>
		<param name="security_code" value="$(arg security_code)"/>
		<param name="psk_config_file" value="$(arg psk_config_file)"/>
		<param name="device_map_file" value="$(arg device_map_file)"/>
		<!-- <rosparam command="load" file="$(arg device_map_file)"/> -->
		<param name="transition_time" value="$(arg transition_time)"/>
	</node>
</launch>